/* couleur du body */
#font {
    background-color: cadetblue;
    margin: 0;
}

/* bloc de contenu de page */
.bloc {
    list-style-type: none;
    background-color: white;
    margin-top: 186px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid white;
    max-width: 100%;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    font-family: serif, cursive, sans-serif;
    z-index: 2;
    /* second plan */
}

/* centrage de tout le contenu */


/* mise en page des menus haut et bas */
#menu_haut {
    list-style-type: none;
    margin: 0;
    padding: 30px 0 30px 0;
    background-color: darkslategrey;
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    z-index: 3;
    /* premier plan */
}

.menu li {
    padding: 10px;
    width: auto;
    display: inline-block;
    font-family: Stencil Std, fantasy;
    z-index: 5;

}

nav a {
    color: white;
    text-decoration: none;
}

.menu {
    margin: auto;
}

.logo {
    position: absolute;
    height: 100px;
    left: 20px;
    top: 0;
}

nav ul li:hover {
    background-color: #155;
}

#menu_bas {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    background-color: darkslategrey;
    /**/
}

#menu_bas li {
    padding: 5px;
    text-decoration: none;
    text-emphasis-color: white;
    display: inline-block;
    font-family: Stencil Std, fantasy;

}

#font_pied {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 100%;
    border-top: 1px solid white;
    background-color: darkslategrey;
    display: inline-block;
    height: 248px;
    position: relative;
}

#reseaux_sociaux {

    position: absolute;
    right: 2%;
    bottom: 5%;
}

/* mise en page des cadres de la page */

#cadre_about,
#cadre_experience,
#cadre_competence,
#cadre_diplome,
#cadre_interet {
    border: none;
    width: 100%;

}

#description {
    padding: 0 20% 0 20%;
}

article ul {
    /* liste d'expériences */
    list-style-type: none;
    padding: 0 20% 0 20%;
    /* centrage des titres de listes*/
}

#cadre_experience li:first-child {
    margin: 15px 0 25px 0;
}
hr {
    margin: 7% 15% 7% 15%;
    width: 70%;
    color: lightslategrey;
}

#cadre_about li,
#cadre_experience li:not(:first-child),
#cadre_competence li,
#cadre_diplome li,
#cadre_interet li {
    margin: 7px 0 7px 0;
}


h1 {
    text-align: center;
    font-size: 30px;
}

#competences {
    /* aligner les competences */
    display: flex;
    margin: auto;
    border: none;
}

#competences h2 {
    margin: 0 10% 0 10%;
}

#comp1 {
    width: 100%;
    padding: 0 0% 0 10%;
}

#comp2 {

    width: 70%;
    padding: 0 10% 0 0%;

}

.progress {
    margin: 0 0 0 10%;
}

h2:not(#competences h2) {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* reglages des images */

#fond_banniere {
    width: 100%;
}

#certificat {
    margin-left: 7%;
    margin-right: 5%;
    padding: 0;
}

.certif {

    width: 19%;

}

#img4,
#img3 {
    width: 50%;
    margin: 8% 0 0 0;
}
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #31859b;
    border-radius: 24px;
    border: 2px solid #d7d7d7;
    box-shadow: 5px 3px 9px #205867;
}


.btn:hover {
    padding: 10px;
    border: 2px solid #00b050;
    box-shadow: 1px 1px 4px #00b050;
}
